<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="common/base :: head"></head>
<body>
<div class="wrapper">
    <div th:replace="common/base :: navbar(home)"></div>

    <div class="main-panel">
        <nav th:replace="common/base :: topNavbar"></nav>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4 card " style="width: 20rem;">
                        <img class="card-img-top" th:src="@{/img/clothes.jpg}" alt="..."/>
                        <div class="card-block">
                            <h4 class="card-title">Clothes</h4>
                            <p class="card-text">Find the lost clothes.</p>
                            <form th:action="@{/items/lost}" method="post">
                                <input type="hidden" th:value="CLOTHES" name="category"/>
                                <button th:type="submit" class="btn btn-info btn-fill">Find Clothes</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-4 card" style="width: 20rem;">
                        <img class="card-img-top" th:src="@{/img/pets.jpg}" alt="..."/>
                        <div class="card-block">
                            <h4 class="card-title">Pets</h4>
                            <p class="card-text">Find the lost pets.</p>
                            <form th:action="@{/items/lost}" method="post">
                                <input type="hidden" th:value="PETS" name="category"/>
                                <button th:type="submit" class="btn btn-info btn-fill">Find Pets</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-4 card" style="width: 20rem;">
                        <img class="card-img-top" th:src="@{/img/others.png}" alt="..."/>
                        <div class="card-block">
                            <h4 class="card-title">Others</h4>
                            <p class="card-text">Find the lost others.</p>
                            <form th:action="@{/items/lost}" method="post">
                                <input type="hidden" th:value="OTHER" name="category"/>
                                <button th:type="submit" class="btn btn-info btn-fill">Find Others</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="common/base :: jslinks"></div>
</body>
</html>