<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="common/base :: head"></head>
<body>
<div class="wrapper">
    <div th:replace="common/base :: navbar('')"></div>

    <div class="main-panel">
        <nav th:replace="common/base :: topNavbar"></nav>
        <div class="content">
            <div class="container-fluid">
                <form action="#"
                      th:action="@{/items/process}"
                      th:object="${item}"
                      method="post">
                    <input type="hidden" th:field="*{id}"/>

                    <div class="col-md-5">
                        <div class="card">
                            <div class="card-header">
                                Item
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-11 pr-1">
                                        <div class="form-group">
                                            <label> Title :</label>
                                            <input type="text" class="form-control" th:field="*{title}"/>
                                            <span th:if="${#fields.hasErrors('title')}" th:errors="*{name}"></span><br/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-11 pr-1">
                                        <div class="form-group">
                                            <label> Description :</label>
                                            <input type="text" class="form-control" th:field="*{description}"/>
                                            <span th:if="${#fields.hasErrors('description')}"
                                                  th:errors="*{description}"></span><br/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-11 pr-1">
                                        <div class="form-group">
                                            <label> Category </label>
                                            <h6>Clothes<input type="radio" th:field="*{category}"
                                                              value="CLOTHES"/></h6>
                                            <br/>
                                            <h6>Pets<input type="radio" th:field="*{category}"
                                                           value="PETS"/></h6>
                                            <br/>
                                            <h6>Other<input type="radio" th:field="*{category}"
                                                            value="OTHER"/></h6>
                                        </div>
                                    </div>
                                </div>

                                <div sec:authorize="hasAuthority('ADMIN')" class="row">
                                    <div class="col-md-11 pr-1">
                                        <div class="form-group">
                                            <label> Owner Name: </label>
                                            <select th:field="*{owner}">
                                                <option th:value="0" text="Please Select"></option>
                                                <option th:each="user : ${users}"
                                                        th:value="${user.username}"
                                                        th:text="${user.firstName}+ ' ' + ${user.lastName}">Wireframe</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-11 pr-1">
                                        <div class="form-group">
                                            <label for="bookimage"> Image link </label>
                                            <input type="url" th:field="*{image}" class="form-control" id="bookimage"
                                                   aria-describedby="urlHelp"
                                                   placeholder="Enter image link"/>
                                            <small class="form-text text-muted" id="urlHelp">Enter the url of an image
                                                you would
                                                like to use
                                                for this
                                                book
                                            </small>
                                        </div>
                                    </div>
                                </div>

                                <br/>
                                <div class="row">
                                    <div class="col-md-5 pr-1">
                                        <button type="submit" class="btn btn-info btn-fill">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<div th:replace="common/base :: jslinks"></div>
</body>
</html>