<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="common/base :: head"></head>
<body>
<nav th:replace="common/base :: navbar('')"></nav>
<form action="#"
      th:action="@{/items/process}"
      th:object="${item}"
      method="post">
    <input type="hidden" th:field="*{id}"/>


    Title: <input type="text" th:field="*{title}"/>
    <span th:if="${#fields.hasErrors('title')}"
          th:errors="*{name}"></span><br/>

    Description: <input type="text" th:field="*{description}"/>
    <span th:if="${#fields.hasErrors('description')}"
          th:errors="*{description}"></span><br/>

    Category<br/>
    Clothes <input type="radio" th:field="*{category}" value="CLOTHES"/>
    Pets <input type="radio" th:field="*{category}" value="PETS"/>
    Other <input type="radio" th:field="*{category}" value="OTHER"/>
    <br/>

    <div sec:authorize="hasAuthority('ADMIN')">
        Owner Username: <input type="text" th:field="*{owner}"/>
        <span th:if="${#fields.hasErrors('owner')}"
              th:errors="*{owner}"></span><br/>
    </div>

    <div class="form-group">
        <label for="bookimage">Image link</label>
        <input type="url" th:field="*{image}" class="form-control" id="bookimage" aria-describedby="urlHelp"
               placeholder="Enter image link"/>
        <small class="form-text text-muted" id="urlHelp">Enter the url of an image you would like to use for this book
        </small>
    </div>

    <br/>
    <input type="submit" value="Submit"/>


</form>
<div th:replace="common/base :: jslinks"></div>
</body>
</html>