<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="common/base :: head"></head>
<body>
<div class="wrapper">
    <div th:replace="common/base :: navbar('')"></div>

    <div class="main-panel">
        <nav th:replace="common/base :: topNavbar"></nav>
        <div class="content">
            <div class="container-fluid">
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Search</h4>
                        </div>
                        <div class="card-body">
                            <form th:action="@{/items/search}" method="post">
                                <div>Enter a complete or partial <span class="text-success">Item</span> to search for or
                                    <span class="text-success">Category</span></div>
                                <label>Item title/category: </label><input type="text" name="search"/>
                                <div class="row">
                                    <div class="col-md-5 pr-1">
                                        <button type="submit" class="btn btn-info btn-fill">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="common/base :: jslinks"></div>
</body>
</html>